.about
{
    
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
flex-direction: column;

background: #fff;
 svg 
 {
      width: 100%;
      height: fit-content;
      transform: rotate(180deg);
      
 }
    .container

    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: fit-content;
        min-height: 30vh;
        
        margin-top: 10%;
        .card
    
        {
            background: #000;
            min-height: 300px;
            width: 50%;
            max-width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}