.about
{
    
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
flex-direction: column;

background: rgb(255, 255, 255);
 svg 
 {
      width: 100%;
      height: fit-content;
      transform: rotate(180deg);
      
 }
    .container

    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: fit-content;
        min-height: 30vh;
        
        margin-top: 10%;
        .card
    
        {
            min-height: 300px;
            height: fit-content;
            width: 600px;
            max-width: 80vw;
            margin-left: 10vw;
            margin-right: 10vw;
            border-radius: 34px;
             display: flex;
             justify-content: center;
             align-items: center;
             flex-direction: column;
             flex-wrap: wrap;
             border-top: 15px $dark solid;
             border-bottom: 15px $dark solid;
          box-shadow: inset 5px -5px 15px #cacaca8f,inset -5px 5px 15px #dddddd8f, 5px 5px 15px rgba(0, 0, 0, 0.137);
        }
        .card1
        { 
            .title
            {
                 width: 100%;
                 text-align: center;
                 margin-bottom: 20px;
                 color: $dark;
                 font-weight: bold;

            }
            padding: 2em;
         .img
         {
           
           padding: 10px;
           margin-top: 10px;
           border-radius: 30%;
           background: $dark;
           margin-bottom: 40px;
           display: flex;
           justify-content: center;
           align-items: center;
           box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562), -5px -5px 8px #00314093;

            img 
            {
                 width: 31vh;
                 height: 31vh;
                 border-radius: 30%;
                 
            }
         
          
         
         }   
            p
            {
                 text-align: center;
                 line-height: 1.8;
            }
            .resume
            {
                text-decoration: none;
                background: $dark;
                color: white;
                margin-top: 30px;
                padding: 10px 20px 10px 20px;
                border-radius: 15px;
              box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.445), -3px -3px 8px #003140a4 ;

            }
            
        }
        .card2 
        {
          font-size: 1em;
          position: relative;
          height: max-content;
          padding: 20px; 
          span 
          {
              margin-top: 3rem;
              margin-bottom: 0.5em;
              font-weight: bolder;
          }
          .mainlist
          {  width: 100%;
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              flex-wrap: wrap;
              list-style: none;
              text-align: center;
              
              .icon{
                  margin-top: 20px;
                  margin-right: 10px;
              }
              .sublist
              {
                 
                  list-style: none;
                  margin-left: 20px;
              }
          }
          
          
        }
    }
}