.landing
{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: $dark;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
 .img{
     background: $dark;
     width: 100%;
     display: flex;
     
 }
   
}