.projects
{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
flex-direction: column;
.project-card 
{
    
 }
}