$blue: #00b2df;
$dark: #003140;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
     scroll-behavior: smooth;
}

::-webkit-scrollbar {
     width: 15px;
     border-radius: 5px;
   }
   
   
   ::-webkit-scrollbar-thumb {
     background: $dark;
     border-radius: 5px;
   }
   ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 1px 1px 5px #b8b7b7, inset 1px 1px 5px #0000004b;
            box-shadow: inset 1px 1px 5px #b8b7b7, inset 1px 1px 5px #0000004b;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: black;
    border-radius: 10px;
  }
 
@import "landing";
@import "about";
@import "projects";