$blue: #00b2df;
$dark: #003140;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
     scroll-behavior: smooth;
}

::-webkit-scrollbar {
     width: 15px;
     border-radius: 5px;
   }
   
   
   ::-webkit-scrollbar-thumb {
     background: $dark;
     border-radius: 5px;
   }

 
@import "landing";
@import "about";
@import "projects";